/* VISTA DE LOGN */
body,html{
    height: 100%;
    width: 100%;
}

.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container > .login{
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}


.form-inline{
    display: inline-flex;

}

.navbar{
    font-family: 'Poppins', sans-serif;
}

.navbar-brand, .navbar-tabs {
    margin-left: 35px;
    flex-grow: 1;
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: var(--bulma-navbar-height);
}



